html, body {
    margin: 0;
}

.bghome{
    background-image: url("architecture-building-cars-419235.jpg");
    background-position: center;
    height: 50%; 
   background-repeat: no-repeat;
   background-size: cover;
  
}


.Navbar{
width: 100%;
float: top;
}

.backdrop{
    width: 100%;
    height: 10%;
}


.flexContainer {
    display: flex;
    margin: 0;
}

h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
}

.flexItem {
    flex: 1;
    margin: 0;

}

.flexStart {
    justify-content: flex-start;
}


.nav {
    list-style: none;
    border-bottom: 4px solid black;
    font-size: 20px;
}


.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 30px;
}

.hover{
    width: 50%;
    
}

a:hover{
    color:yellowgreen;
}

.overlay-image {
    position: relative;
    width: 100%;
   }
   /* Original image */
   .overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
   }
   /* Original text overlay */
   .overlay-image .text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
   }


div {
    flex-wrap: wrap;
    display: inline-block;  
    margin-bottom: 2px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.tagline {
    text-align: center;
    margin: 0;
    padding: 25px;
    font-size: 30px;
    line-height: 30px;
    font-style: italic;
    background: #C6C6C6;
    border-top: 2px solid #AAA;
    font-weight: bold;
}

.tagline ins {
    text-decoration: none;
    border-bottom: 3px solid black;
}

.tagline del {
    color: #999;
}

.banner {
    overflow: hidden;
    float: center;
    padding: 2%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);

}

section {
    display: block;
}

.blurb {
    width: 50%;
    height: 50%;
    float: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}

.touts {
    display: flex;
   
}
.tout {
   
    padding: 10px;
    margin: 10px;
    margin-left: 5%;
    border: 10px;
    display: inline-flex;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .15);
    font-family: 'Merriweather', sans-serif;
   
}

.tout .button {
    background: #c6c6c6;
}

.tout:last-child {

    box-shadow: none;
}

.button {
    background: #C6C6C6;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bolder;
    color: black;
    display:block;
    background:yellowgreen;
    text-align: center;
    padding: 23px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-transform: uppercase;
}

h3, p {
    font-family: 'Merriweather', serif;
    font-size: 28px;
}

.contianer1{
    padding: 10px;
    justify-content: end;
}

.col-2 {
    width: 50px;
}

.col-3 {
    width: calc(2 * 8.3333%);
}

.wcolor {
    color: black;
}

.fcolor {
    color: yellowgreen;

}

* {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("assets/ads-architecture-billboards-802024.jpg");
  
    /* Control the height of the image */
    min-height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 100%;
    padding: 16px;
    background-color:white;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: yellowgreen;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color:black;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }




footer {
    color: white;
    font-weight: 900;
    font-size: inherit;
    padding-top: 20px;
}

.overlay-image .normal {
    transition: .5s ease;
   }
   .overlay-image:hover .normal {
    opacity: 0;
   }
   .overlay-image .hover {
    background-color: rgba(0,0,0,0.5);
   }

   .overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }
   /* New overlay appearance on hover */
   .overlay-image:hover .hover {
    opacity: 1;
   }